body, html {
	background-color:#130906;
	margin:0;
	padding:0;
	font-family:"Amaranth";
	font-size:9pt;
	color:#606060;
}

a {
	outline:none;
	border:0;
	color:#606060;
	text-decoration:none;
}

a:hover {
	color:#c1b575;
}

.clear {
	clear:both;
}

#page-frame {
	position:relative;
	margin:7em auto 0 auto;
}

#page-frame .bg-rotator {
    overflow:hidden;
    margin-left:5px;
    width:90%;
    height:610px;
    background: no-repeat;
    background-size:cover;
}

@media all and (min-width:1610px) {
	#page-frame {
		width:1610px;
		height:626px;
	}
    
    #page-frame .bg-rotator {
        width:1600px;
        height:610px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:610px !important;
    }    

    #page-frame > .header, #page-frame > .footer {
        width:1590px !important;;
    }
    
    .social-buttons {
        position:absolute;
        right:0px;
        top:-25px;
    }
}

@media all and (max-width:1635px) {
	#page-frame {
		width:1530px;
		height:595px;
		zoom:1;
	}
    
    #page-frame .bg-rotator {
        width:1520px;
        height:585px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:579px !important;
    }    
    
    #page-frame > .header, #page-frame > .footer {
        width:1510px !important;;
    }
    
    .social-buttons {
        position:absolute;
        right:0px;
        top:-25px;
    }
}

@media all and (max-width:1560px) {
	#page-frame {
		width:1450px;
		height:563px;
	}
    
    #page-frame .bg-rotator {
        width:1440px;
        height:553px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:547px !important;
    }
    
    #page-frame > .header, #page-frame > .footer {
        width:1430px !important;;
    }
    
    .social-buttons {
        position:absolute;
        left:865px;
        right:auto !important;
        top:-53px;
    }
}

@media all and (max-width:1480px) {
	#page-frame {
		width:1380px;
		height:536px;
	}
    
    #page-frame .bg-rotator {
        width:1370px;
        height:526px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:520px !important;
    }
    
    #page-frame > .header, #page-frame > .footer {
        width:1360px !important;;
    }
}

@media all and (max-width:1390px) {
	#page-frame {
		width:1280px;
		height:497px;
	}
    
    #page-frame .bg-rotator {
        width:1270px;
        height:487px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:481px !important;
    }
    
    #page-frame > .header, #page-frame > .footer {
        width:1260px !important;;
    }
}

@media all and (max-width:1280px) {
	#page-frame {
		width:1150px;
		height:447px;
	}
    
    #page-frame .bg-rotator {
        width:1140px;
        height:437px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:431px !important;
    }
    
    #page-frame > .header, #page-frame > .footer {
        width:1130px !important;;
    }
}

@media all and (max-width:1180px) {
	#page-frame {
		width:1080px;
		height:419px;
	}
    
    #page-frame .bg-rotator {
        width:1070px;
        height:409px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:403px !important;
    }
    
    #page-frame > .header, #page-frame > .footer {
        width:1060px !important;;
    }
}

@media all and (max-width:1090px) {
	#page-frame {
		width:1008px;
		height:392px;
	}
    
    #page-frame .bg-rotator {
        width:998px;
        height:382px;
    }
    
    #page-frame > .center, #page-frame > .leftmost-frame, #page-frame > .rightmost-frame {
        height:376px !important;
    }
    
    #page-frame > .header, #page-frame > .footer {
        width:988px !important;;
    }
}

.navigation-wrapper {
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:80%;
	height:56px;
	position:absolute;
}

.social-button {
    background-color: #222;
    display: inline-block;
    font-size: 1em;
    -moz-transition: background .4s ease 0;
    -webkit-transition: background .4s ease;
    -webkit-transition-delay: 0;
    transition: background .4s ease 0;
    position:absolute;
    color:#535353;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    font-size:13px;
    -webkit-font-smoothing:antialiased;
}

.social-button:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 0 none;
}

.social-button.facebook {
    right:-15px;
}

.social-button.facebook:hover {
    background:#3b5997;
    color:#fff; 
}


.social-button.google-plus {
    right:-40px;
}

.social-button.google-plus:hover {
    background:#d1402d;
}

.social-button.youtube {
    right:-65px;
}

.social-button.youtube:hover {
    background:#d1402d;
}

a.navigation-logo {
	width:25%;
	height:220%;
	background:url("SVG/logo.svg") no-repeat;
	background-size:100%;
	background-position:0 10px;
	display:block;
	position:relative;
	vertical-align:bottom;
	left:15px;
	top:-59px;
	bottom:-59px;
	float:left;
	z-index:2;
}

.navigation-wrapper .navigation {
	width:100%;
	height:64px;
	position:relative;
	top:-30px;
	bottom:-30px;
	background:url("SVG/menuBar.svg") no-repeat;
	background-size:cover;
	z-index:1;
}

.navigation-wrapper .navigation ul.navbits {
	position:absolute;
	right:130px;
	margin:0;
	padding:0;
}

.navigation-wrapper .navigation ul li {
	list-style:none;
	float:left;
	margin:0;
	padding:0;
	margin-left:57px;
}	

.navigation-wrapper .navigation ul li a {
	display:block;
	height:64px;
    line-height:64px;
	overflow:auto;
    color:#996019;
    text-shadow: 2px 2px #000000;
    border-box:none;
    font-size:10pt;
}

.navigation-wrapper .navigation ul li a.inactive, .navigation-wrapper .navigation ul li a.inactive:hover  {
    cursor:default;
    color:#996019;    
}

.navigation-wrapper .navigation ul li a:hover {
    color:#b87726;
}

#page-content-wrapper {
	width:1000px;
	margin:0 auto;
	top:-250px;
	bottom:-136px;
	position:relative;
}

#page-content-wrapper > .frame-corners, #page-frame > .frame-corners {
	position:absolute;
	width:12px;
	height:12px;
}

	
#page-content-wrapper > .header, #page-frame > .header {
	overflow:hidden;
	margin-left:12px;
	width:976px;
	height:8px;
	background:url("menu.svg") repeat-x;
}

#page-content-wrapper > .center {
	width:1000px;
	background-color:#090909;
}

#page-content-wrapper > .footer, #page-frame > .footer {
	overflow:hidden;
	margin-left:12px;
	width:976px;
	height:8px;
	background:url(../images/page_content_footer.png) repeat-x;
    background-position:0 -4px;
}

#page-frame > .leftmost-frame {
    position:absolute;
    left:0;
    top:12px;
    overflow:hidden;
    width:7px;
    height:626px;
    background:url(../images/page_content-lc.png) repeat-y;
    background-position:left;
}

#page-frame > .rightmost-frame {
    position:absolute;
    right:0;
    top:12px;
    overflow:hidden;
    width:7px;
    height:626px;
    background:url(../images/page_content-rc.png) repeat-y;
    background-position:right;
}

#page-content {
    padding:0 7px 0 7px;
}

#page-navigation {
	width:100%;
	height:40px;
	position:relative;
	overflow:hidden;
}

#page-navigation ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}		

#page-navigation ul:first-child {
	float:left;
}

#page-navigation ul li {
	float:left;
	margin:0 20px 0 30px;
    poisition:relative;
}

#page-navigation ul:first-child li {
	margin:0 0 0 20px;
    font-size:13px;
    position:relative;
}

#page-navigation ul:first-child li:first-child {
	margin:0 0 0 18px;
}

#page-navigation ul li a, #page-navigation ul li {
	display:block;
	line-height:40px;
	height:40px;
	color:#505050;
	font-size:13px;
}

#page-navigation ul li a.active {
	
}

#page-navigation ul li:hover > a, #page-navigation ul li a.active {
	color:#c1b575;	
}


#inpage-navigation {
	width:100%;
	height:40px;
	position:relative;
	overflow:hidden;
}

#inpage-navigation ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}		

#inpage-navigation ul:first-child {
	float:left;
}

#inpage-navigation ul li {
	float:left;
	margin:0 0 0 30px;
}

#inpage-navigation ul:first-child li {
	margin:0 0 0 20px;
    font-size:13px;
}

#inpage-navigation ul:first-child li:first-child {
	margin:0;
}

#inpage-navigation ul li a, #inpage-navigation ul li {
	display:block;
	color:#505050;
	font-size:13px;
}

#inpage-navigation ul li a.active {
	
}

#inpage-navigation ul li:hover > a, #inpage-navigation ul li a.active {
	color:#c1b575;	
}

#inpage-navigation a.active {
    color:#c1b575;
}


.content-wrapper {
	width:100%;
	position:relative;
    margin-top:2px;
}

.content-inner {
	padding:20px 20px 20px 20px;
}

#page-footer {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -50px;
    font-size: 15px;
    width: 700px;
}

